body{
    background-color: #2F3035;
    background-image: url(images/cheekubackground.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header{
    width:1024px;
    height:130px;
    text-align: center;
    /*i am gonna leave the width here as it is,but  we can remove it whenever we like it,for example,even if we don't choose the width of these small containers,they come under the container class.That means ,the width of the class will be the width of these sub-containers.They need not to be told twice that this is your  width*/
    /*text-allign:center; works for the images as well*/
}
nav{
    background-color: rgba(0, 0, 0, 0.308);
    width:1024px;
    padding:14px;
    padding:14px;
    text-align: center;
}
main{
    height:400px;
    text-align: center;
    padding-left: 240px;
    padding-top: 80px;
    padding-right: 240px;
}
footer{
    background-color: rgba(0, 0, 0, 0.555);
    width:1024px;
    /* padding-left: 80px;
    padding-right: 80px; */
    padding-top: 55px;
    padding-bottom: 50px;
   
}
.container{
    margin-left: auto;
    margin-right:auto;
    width:1024px;
 /*this width is added to make sure that all
    the containers (header,nav,main and footer is moved along
    this conntainer,this is the synatax to make things in the 
    center */
}
h1{
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}
footer p{
    color:white;
    text-align:center;
    
    font-size: 12px;
}
/* .maps {
    padding-bottom: 100px;
} */
.video
{
    align-items: center;
}